.bankercontact {
  color: #fd7e14;
}
.form-control {
  border-radius: 30px !important;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #fd7e14 !important;
}
.contact-form {
  border-radius: 30px !important;
 
}
