 .abc{
    text-align: center;
 }

 .inputBox{
    text-align: center;
 }
 .inp{
     width: 50% !important;
 }
 .tableheading{
     display: flex;
     justify-content: space-between;
 }
 table > tr > th{
     /* width: 20%; */
     border: 2px solid black;
     border-collapse: collapse; 
 }
 /* .headings{
     background-color: red;
     color: white;
     width: 200px;
     display: flex !important;
     justify-content: center !important;
 } */