
.footers{
    padding: 2rem;
    background-color: #1077ad !important;
    
}
/* .displa{
    display: flex !important;
} */

.footer-section{
    display: flex;
    justify-content: space-around;
}

/* .line{
    background-color: white !important;
}  */
hr{
    height: 3px !important;
   /* background-color: red !important; */
}