.slider-img{
    background-image: url("./../../assets/background-wide.jpg");

    background-size:cover !important ;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
   
}

.slider{
   
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}
.textcontent{
    display: flex;
    /* text-align: center; */
    justify-content: center !important;
    padding: 20px 0px 50px 50px;
}